.Feed_Container{
    flex: 0.40;
    background-color:black;
}
.Feed_Container {
    position: static;
    flex: 0.39;
    background-color: black;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    overflow-y: scroll !important ;
}