.MessageRightBar{
    flex:0.34;
    background-color: black;
    border:1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.TopBar{
    flex: 0.075;
    display: flex;
    justify-content: space-between;
}

.TopBar_right{
    display: flex;
}

.SearchDM{
    flex: 0.09;
    text-align: center;
    position: sticky;
}

.SearchMsg{
    min-width:90%;
    min-height: 5vh;
    border-radius: 50px;
    padding: 0 25%;
    text-indent: 10px;
    border: 1px solid var(--border-color);
    background: black;
    color: grey;      
}

.SearchMsg::-webkit-search-cancel-button{
    accent-color: red;
}

.SearchMsg:focus{
    border: 2px solid var(--twitter_blue);
}

.TopBar_right .iconbutton svg{
    height: 60%;
}

.Chats{
    flex: 0.09;
    display: flex;
    flex-direction: column;
}

.MsgPanel{
    display: flex;
    max-height: 11.5%;
}

.MsgPanel:hover{
    background-color: var(--border-color);
    transition:0.19s ease-in-out;
}

.ChatProfile img{
    /* justify-content: center; */
    max-height: 80%;
    border-radius: 50px;
}

.ChatMsg{
}
.MessageRightBar{
    flex:0.34;
    background-color: black;
    border:1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.TopBar{
    flex: 0.075;
    display: flex;
    justify-content: space-between;
}

.TopBar_right{
    display: flex;
}

.SearchDM{
    flex: 0.09;
    text-align: center;
    position: sticky;
}

.SearchMsg{
    min-width:90%;
    min-height: 5vh;
    border-radius: 50px;
    padding: 0 25%;
    text-indent: 10px;
    border: 1px solid var(--border-color);
    background: black;
    color: grey;      
}

.SearchMsg::-webkit-search-cancel-button{
    accent-color: red;
}

.SearchMsg:focus{
    border: 2px solid var(--twitter_blue);
}

.TopBar_right .iconbutton svg{
    height: 60%;
}

.Chats{
    flex: 0.09;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
