.MobileSidebar_BackDrop {
    display: none;
}

@media (max-width:688px) {
    .MobileSidebar_BackDrop {
        position: fixed;
        min-height: 100vh;
        width: 100%;
        background-color: rgba(96, 148, 187, 0.378);
        top: 0;
        display: flex;
        justify-content: flex-start;
        transition: all 0.18s ease-in-out;
        transition-delay: 0.1s;
        /* z-index: 100; */
    }

    .MobileSideBar_COntainer {
        background-color: black;
        padding: 5px 15px;
        flex: 0.75;
        z-index: 2;
    }

    .MobileSideBar_COntainer .header {
        
        display: flex;
        justify-content: space-between;
    }

    .MobileSideBar_COntainer .header svg {
        margin-top: 5px;
    }

    .menu-list .link-wrapper-mobile {
        margin-left: -15px;
        
    }
    .menu-list .link-wrapper-mobile li {
        display: flex;
        margin-top: 30px;
    }

    .menu-list .link-wrapper-mobile a {
        display: flex;
        color: white;
        text-decoration: none;
    }
}
