.MobileSidebar_BackDrop {
    display: none;
}

@media (max-width:688px) {
    .MobileSidebar_BackDrop {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(166, 194, 215, 0.247);
        top: 0;
        display: flex;
        justify-content: flex-start;
        transition: all 0.28s ease-in-out;
        /* transition-delay: 0.1s; */
        /* z-index: 100; */
    }
    
    .MobileSideBar_COntainer {
        background-color: black;
        padding: 5px 15px;
        overflow-y: scroll !important;
        overflow-y: scroll;
        box-shadow: 0px 0px 8px -1px var(--hover_color);
        flex: 0.75;
        z-index: 2;
    }

    .Divider {
        min-height: 0.1rem;
        width: 110%;
        margin-top: .5rem;
        margin-left: -15px;
        background-color: var(--border-color);
    }

    .MobileSideBar_COntainer .header {
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    .MobileSideBar_COntainer .header svg {
        margin-top: 5px;
    }

    .menu-list .link-wrapper-mobile {
        margin-left: -15px;

    }

    .menu-list .link-wrapper-mobile li {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .menu-list .link-wrapper-mobile li a svg {
        max-width: 20px;
    }

    .menu_list_option {
        font-size: 15px;
        font-weight: 420;
    }

    .menu-list .link-wrapper-mobile a {
        display: flex;
        color: white;
        text-decoration: none;
    }
}