.YourTweetBtn {
    display: none;
}

.YourTweet_TweetAttachmentMobile {
    display: flex;
    justify-content: center;
    margin-block: 1%;
}

.YourTweet_TweetAttachmentMobile svg {
    max-width: 20px;
}

.YourTweet_TweetReplyAcces {
    display: flex;
    align-items: center;
}

.YourTweet_TweetReplyAcces span {
    margin-inline: 1rem;
    justify-self: flex-end;
    font-size: 14px;
}

.Alert {
    color: red;
}

.progress {
    margin-block: 10px;
}

@media (max-width:688px) {
    .YourTweetBtn {
        position: fixed;
        display: grid;
        place-items: center;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: var(--twitter_blue);
        box-shadow: 0px 0px 3px -1px var(--hover_color);
        bottom: 11vh;
        right: 4%;
        z-index: 5;
    }

    .YourTweetBtn .icon {
        fill: aliceblue;
    }
}