.MoreContainer{
    /* display: flex; */
    /* flex-direction: column; */
    position: fixed;
    bottom: 30.5vh;
    /* min-height:70.5vh; */
    min-width: 14vw;
    background-color: black;
    color:white;
    border: 2px solid var(--border-color);
    box-shadow: 0px 0px 10px 2px var(--border-color);
}

.MoreContainer ul{
    height:70.5vh;
    text-decoration: none;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    /* margin-top: 30px; */
    justify-content: center;
    /* align-items:flex-start; */
}

.MoreContainer li{
    display:flex;
    /* flex: 1;  */
    height: 70px;   
    /* padding:5px 0; */
    /* margin-top: 5px; */
    text-decoration: none;
    color: whitesmoke;
    /* justify-content:flex-start; */
    align-items: center;
}

.MoreContainer li:hover{
    background-color: var(--border-color);
}

.MoreContainer li svg{
    width: 10px;
    height: 10px;
    /* margin-top: 5px; */
}

.Content{
    /* font-size: 1rem; */
    font-weight: 400;
    cursor: pointer;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start; */
}

@media (max-width: 600px) {
    .MoreContainer{
        display: none;
    }    
}