.MoreContainer {
    position: fixed;
    top: 0;
    bottom: 30.5vh;
    /* min-height:70.5vh; */
    min-height: max-content;
    min-width: 14vw;
    background-color: black;
    color: white;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px var(--border-color);
}

.MoreContainer ul {
    height: max-content;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* margin-top: 30px; */
    justify-content: center;
    /* align-items:flex-start; */
}

.MoreContainer li {
    display: flex;
    /* flex: 1;  */
    height: 70px;   
    /* padding:5px 0; */
    /* margin-top: 5px; */
    height: 50px;
    padding: 5px 0;
    margin-top: 5px;
    text-decoration: none;
    color: whitesmoke;
    /* justify-content:flex-start; */
    align-items: center;
}

.MoreContainer li:first-child {
    margin-top: 0;
}

.MoreContainer li:hover {
    background-color: var(--border-color);
}

.MoreContainer li svg {
    width: 10px;
    height: 10px;
    /* margin-top: 5px; */
}

.Content {
    /* font-size: 1rem; */
    font-weight: 400;
    cursor: pointer;
    font-size: 13px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start; */
}

@media (max-width: 600px) {
    .MoreContainer {
        display: none;
    }
}