.Profilebar-Container .profile-pic{
    
}

.Profilebar-Container {
 position: absolute;
 display: flex;
 bottom: 20px;
}

.Profilebar-Container img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.Profilebar-Container .text-area {
    margin-left: 12px;
}
@media (max-width:988px) {
    .text-area{
        position: absolute;
        bottom: 0;
        display: none;
    }
}