.Profilebar-Container {
    position: absolute;
    display: flex;
    bottom: 20px;
    min-width: 12%;
    padding: 8px 10px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    display: none;
    /* outline: 1px solid red; */
}

.Profilebar-Container:hover {
    background-color: var(--border-color);

}

.Profilebar-Container img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.Profilebar-Container .text-area {
    margin-left: 12px;
    /* outline: 1px solid gainsboro; */
    min-width: max-content;
}

.text-area p {
    color: gray;
    font-weight: 300;
}

.profilebar_options {
    min-width: max-content;
    /* outline: 1px solid red; */
    margin: 0 20%;
    display: flex;
    align-items: center;
}

svg {
    /* background-color: antiquewhite; */
    color: aliceblue;
    min-width: 15px;
    min-height: 15px;
    margin: 0 15px;
}

.modal {
    /* bottom: 60%; */

}

.modalsvg {
    /* background-color: aliceblue; */
    margin-top: 0;
    justify-content: flex-start;
}

.profilebar_modal {
    position: absolute;
    background-color: aliceblue;
    min-width: 18vw;
    bottom: 12%;
    margin-left: -1%;
    border-radius: 15px;
    background-color: black;
    border: 2px solid var(--border-color);
    box-shadow: 0px 0px 10px 2px var(--border-color);
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    z-index: 2;
}


.profilebar_modal h3 {
    font-weight: 300;
    font-size: 16px;
}

.profilebar_modal .line {
    width: 100%;
}

.arrow {
    position: absolute;
    fill: black;
    margin-left: -3%;
    stroke: var(--border-color);
    stroke-width: 2px;
    z-index: 10;
    transform: rotate(180deg);
    bottom: -9.99998%;
    right: 50%;
    width: 20px;
    height: 25px;
}

.Profilebar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* outline: 1px solid red; */
    padding: 15px;
    min-width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.Profilebar-container .profile-pic img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.Profilebar-container .text-area {
    margin: 0 5px;
}

.modal_options {
    padding: 10px;
}

.modal_options:hover {
    width: 100%;
    padding: 10px;
    background-color: var(--border-color);
}

@media (max-width:1250px) {
    .Profilebar-Container {
        max-width: max-content;
        padding: 4px 6px;
    }

    .text-area h4, p {
        font-size: 13px;
    }
}

@media (max-width:988px) {
    .Profilebar-Container {
        display: flex;
        justify-content: center;
    }

    .Profilebar-Container:hover {
        background-color: transparent;
    }

    .text-area {
        display: none;
    }

    .MoreSVG {
        display: none;
    }
}