.TweetPage_Container {
    flex: 0.50;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-left: 1px solid var(--border-color);
    color: white;
    overflow-y: scroll;
}

.TweetPage_header {
    position: sticky;
    padding: 10px 0;
    top: 0;
    min-width: none;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid var(--border-color);
}

.TweetPage_header svg {
    max-width: 20px;
    fill: aliceblue;
}

@media (max-width:688px) {
    .TweetPage_Container {
        flex: 1;
    }

    .TweetPage_header {
        padding: 5px 0;
    }

    .TweetPage_header svg {
        max-width: 25px;
    }
}