.container{
  position: absolute;
  right: 0;
  background-color: white;
  color: black;
  height: fit-content;
}

.box {
  display: flex;

  flex-direction: column;
  border: 1px solid var(--border-color);
}

.options {
  list-style: none;
}
