.Write{
    position: absolute;
    bottom: 0;
    height: 6vh;
    width: 100%;
    border: 1px solid var(--border-color);
    display: flex;
}

.Write .size{
    width: 50px;
    height: 50px;
    display: flex;
}