.Yourtweet_Container {
    background-color: black;
    border-bottom: 1px solid var(--border-color);
    height: max-content;
    color: aliceblue;
    /* padding: 0 15px; */
}

/* .Yourtweet_Header {
    position: fixed;
    top: 0;
    margin-left: -0.95%;
    min-width:36.7%;
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    background-color: transparent;
    backdrop-filter: blur(5px);
   
} */
.Yourtweet_HomeText {
    font-size: 20px;
    font-weight: 650;
}

.Yourtweet_Header svg {
    height: 3vh;
}

.Write_Tweet {
    /* outline: 1px solid red; */
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.YourTweet_Avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

.YourTweet_Avatar img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.YourTweet_TweetText {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

.YourTweet_Form {
    /* outline: 1px solid snow; */
    height: 10.vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    align-items: flex-start;
}

.YourTweet_TweetReplyAcces {
    display: none;
    /* margin: 0 15px; */
    font-weight: 600;
    color: var(--twitter_blue);
    width: max-content;
    margin-top: 3rem;
    padding: 4px 15px;
    border-radius: 15px;
}

.YourTweet_TweetReplyAcces:hover {
    background-color: rgba(120, 86, 255, 0.1);
}

.YourTweet_TweetAttachment {
    /* outline: 1px solid red; */
    padding: 10px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border-top: 1px solid var(--border-color); */
}

.YourTweet_TweetAttachment svg {
    max-width: 22px;
    max-height: 22px;
    margin: 0 10px;
    color: rgb(120, 86, 255);
    transition: all 0.1s ease-in-out;
}

.YourTweet_PostTweetButton {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    outline: 1px solid red;
    width: max-content;
    padding: 7px 12px;
    outline: none;
    color: aliceblue;
    font-size: 18px;
    font-weight: 550;
    border: none;
    background-color: var(--twitter_blue);
    border-radius: 20px;
}

.YourTweet_PostTweetButton:disabled {
    background-color: var(--twitter_blue);
}