* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  overflow-x: hidden;
  overflow-y: hidden;
}

:root {
  --border-color: rgba(35, 33, 33);
  --twitter_blue: rgb(29 155 240);
  --hover_color:  rgba(255, 255, 255, 0.89);
}
::-webkit-scrollbar{
  width: 0px;
}
::-webkit-scrollbar-track{
  width: 0px;
  background-color: transparent;
}